#BACKGROUND-BLACK,.background-black{
	background-color:black;
}

#BACKGROUND-GREY, .caption, .background-grey{
	background-color:gray;
}

#BACKGROUND-WHITE, .background-white{
	background-color:white;
}

#OPACITY-50, .opacity-50{
	opacity: 0.5;
}

#BOX-HEIGHT-755PX,.header,.box-height-755px{
	height:755px;
}

#BOX-HEIGHT-540PX,.content,.box-height-540px{
	height:490px;
}

#BOX-HEIGHT-315X,.footer,.box-height-315px{
	height:315px;
}

#MARGIN-0-AUTO, .margin-0-auto{
  margin:0 auto;
}

#PADDING-2EM-0, .caption, .padding-2em-0{
	padding:.2em 0;
}

#PADDING-0, .vignette, .slide, .padding-0{
	padding:0;
}

#POSITION-ABSOLUTE, .vignette, .position-absolute{
	position:absolute;
}


#TOP-0, .vignette,.top-0{
	top:0;
}

#WIDTH-100, .width-100{
	width: 100%;
}