body{
	overflow-x:hidden;
}

#BACKGROUND-BLACK, .nav label, .background-black{
	background-color:black;
}

#BACKGROUND-GRAY, .caption, .footer, .background-gray{
	background-color:#E1E1E1;
}

#BACKGROUND-WHITE, .background-white{
	background-color:white;
}

#BACKGROUND-RED, .logo span, .background-red{
	background-color:red;
}

#BORDER-BOTTOM-THICK-SOLID-RED, label a.navbtn-link:hover, label .current, .border-bottom-thick-solid-red{
	border-bottom:thick solid red;
}

#BORDER-LEFT-2PX-SOLID-GRAY, .border-left-2px-solid-gray{
	border-left: 2px solid gray;
}

#MARGIN-0, .vignette-container, .margin-0{
	margin: 0;
}

#MARGIN-0-AUTO, .margin-0-auto{
  margin:0 auto;
}

#MARGIN-LEFT-15PX, .middlebit-inside :not(strong), .navbtn-content:nth-child(2), .margin-left-15px{
	margin-left: 15px;
}

#MARGIN-LEFT-1EM, .logo span, .margin-left-1em{
	margin-left: 1em;
}

#MARGIN-RIGHT-NEG15PX, .middlebit-inside :not(strong), .navbtn-content:nth-child(2), .margin-right-neg15px{
	margin-right: -15px;
}

#MARGIN-0-5px, .caption-text span, .margin-0-5px{
	margin: 0 5px;
}

#PADDING-02EM-0, .caption, .padding-02em-0{
	padding:.2em 0;
}

#PADDING-03EM-0, .dropdown li, .padding-03em-0{
	padding:.3em 0;
}

#PADDING-0-03EM, .padding-0-03em{
	padding:0 0.1em;
}

#PADDING-0, .vignette, .slide, .padding-0{
	padding:0;
}

#PADDING-3PX, .logo span, .paddinng-3px{
	padding:3px;
}

#PADDING-LEFT-O, ul.dropdown, .padding-left-0{
	padding-left: 0;
}

#PADDING-LEFT-2PX, .padding-left-2px{
	padding-left:2px;
}

#PADDING-BOTTOM-3EM, .middlebit, .padding-bottom-3em{
	padding-bottom: 3em;
}

#POSITION-ABSOLUTE, .logo, .vignette, .nav label, .position-absolute{
	position:absolute;
}

#POSITION-RELATIVE, input:checked + .vignette, .position-relative{
	position:relative;
}

#RIGHT-0, .nav .next, .right-0{
	right: 0;
}

#LEFT-0, .nav .prev, .left-0{
	left: 0;
}

#OPACITY-0, .photo, .nav label, .opacity-0{
	opacity: 0;
}

#OPACITY-20, .photo:hover + .nav label, .opacity-20{
	opacity: 0.2;
}

#OPACITY-50, .nav label:hover, .opacity-50{
	opacity: 0.5;
}

#OPACITY-100, input:checked + .vignette .slide .photo, .opacity-100{
	opacity: 1;
}

#VISIBILITY-HIDDEN, .vignette, .caption, .visibility-hidden{
	visibility: hidden;
}

#VISIBILITY-VISIBLE, input:checked + .vignette, input:checked + .vignette .caption, .visibility-visible{
	visibility: visible;
}

#TOP-0, .vignette, .nav label, .top-0{
	top:0;
}

#WIDTH-100, .width-100{
	width: 100%;
}

#HEIGHT-100, .nav label, .height-100{
	height: 100%;
}

#HEIGHT-30, .height-30{
	height:30%;
}

#HEIGHT-300PX, .footer, .height-300px{
	height:300px;
}

#DISPLAY-NONE, input, .nav label, .navbtn-content .dropdown, .display-none{
	display: none;
}

#DISPLAY-BLOCK, .caption-text span, input:checked + .vignette .slide .nav label, input:checked + .navbtn-content .dropdown, .display-block{
	display: block;
}

#DISPLAY-INLINEBLOCK, span.photo-credit, .nav label:before, .navbtn-content, .display-inlineblock{
	display: inline-block;
}

#LIST-STYLE-NONE, ul.dropdown, .navbtn-content, .list-sytle-none{
	list-style: none;
}

#VERTICAL-ALIGN, .nav label:before, .vertical-align{
	content: '';
	height: 100%; 
	vertical-align: middle;
}

#Z-INDEX-100, .logo, .z-index-100{
	z-index: 100;
}

#FONT-09EM, .navbtn-content .dropdown, .font-09em{
	font-size: 0.9em;
}

#FONT-1-2EM, label .navbtn-link, .logo span, .font-1-2EM{
	font-size: 1.2em;
}

#FONT-3EM, .nav .prev, .nav .next, .font-3em{
	font-size: 3em;
}

#FONT-2EM, .inframe-h1, .font-2em{
	font-size: 6em;
}

#BOLD, .dropdown .current, .bold{
	font-weight: bold;
}

#TEXTDECORATION-NONE, a.navbtn-link, a.intext-link, .textdecoration-none{
	text-decoration: none;
}

#COLOR-WHITE, .nav label, .logo span, .color-white{
	color: white;
}

#COLOR-BLACK, a.navbtn-link:hover, a.current, .color-black{
	color:black;
}

#COLOR-GRAY, span.photo-credit, .navbtn-link, .color-gray{
	color:#666666;
}

#COLOR-RED, a.intext-link:hover, .color-red{
	color:red;
}

#CURSOR-POINTER, .nav label, a.navbtn-link:hover, .cursor-pointer {
	cursor: pointer;
}


a.intext-link{
	color:inherit;
}

.photo{
	transition: opacity 0.7s;
}

.navbtn-content{
	float: left;
}

ul.dropdown {
  text-align:left;
  margin-left:0.1em;
}

.photo:hover + .nav label {
	transition: opacity 0.5s;
}

input:checked + .vignette .slide .photo{
  	transition: opacity 0.6s;
}
