#BACKGROUND-BLACK, .nav label, .background-black{
	background-color:black;
}

#BACKGROUND-GREY, .caption, .background-grey{
	background-color:#E1E1E1;
}

#BACKGROUND-WHITE, .background-white{
	background-color:white;
}

#BACKGROUND-RED, .logo span, .background-red{
	background-color:red;
}

#COLOR-WHITE, .nav label, .logo span, .color-white{
	color: white;
}

#BOX-HEIGHT-100, .nav label, .box-height-100{
	height: 100%;
}

#BOX-HEIGHT-755PX,.header,.box-height-755px{
	height:755px;
}

#BOX-HEIGHT-540PX,.content,.box-height-540px{
	height:490px;
}

#BOX-HEIGHT-315X,.footer,.box-height-315px{
	height:315px;
}

#MARGIN-0, .vignette-container, .margin-0{
	margin: 0;
}

#MARGIN-0-AUTO, .margin-0-auto{
  margin:0 auto;
}

#MARGIN-LEFT-15PX, .margin-left-15px{
	margin-left: 15px;
}

#MARGIN-LEFT-1EM, .logo span, .margin-left-1em{
	margin-left: 1em;
}

#MARGIN-1-1EM, .caption-text span, .margin-1-1em{
	margin: 0 1.1em;
}

#PADDING-2EM-0, .caption, .padding-2em-0{
	padding:.2em 0;
}

#PADDING-0, .vignette, .slide, .padding-0{
	padding:0;
}

#PADDING-3PX, .logo span, .paddinng-3px{
	padding:3px;
}

#PADDING-LEFT-15PX, .padding-left-15px{
	padding-left:15px;
}

#POSITION-ABSOLUTE, .logo, .vignette, .nav label, .position-absolute{
	position:absolute;
}

#RIGHT-0, .nav .next, .right-0{
	right: 0;
}

#LEFT-0, .nav .prev, .left-0{
	left: 0;
}

#OPACITY-0, .photo, .nav label, .opacity-0{
	opacity: 0;
}

#OPACITY-20, .photo:hover + .nav label, .opacity-20{
	opacity: 0.2;
}

#OPACITY-50, .nav label:hover, .opacity-50{
	opacity: 0.5;
}

#OPACITY-100, input:checked + .vignette .slide .photo, .opacity-100{
	opacity: 1;
}

#VISIBILITY-HIDDEN, .vignette, .caption, .visibility-hidden{
	visibility: hidden;
}

#VISIBILITY-VISIBLE, input:checked + .vignette, input:checked + .vignette .caption, .visibility-visible{
	visibility: visible;
}

#TOP-0, .vignette, .nav label, .top-0{
	top:0;
}

#WIDTH-100, .width-100{
	width: 100%;
}

#DISPLAY-NONE, input, .nav label, .display-none{
	display: none;
}

#DISPLAY-BLOCK, input:checked + .vignette .slide .nav label, .display-block{
	display: block;
}

#VERTICAL-ALIGN, .nav label:before, .vertical-align{
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
}

#Z-INDEX-100, .logo, .z-index-100{
	z-index: 100;
}

.logo span{
	font-size:1.2em;
}

.photo{
	transition: opacity 0.7s;
}

.nav label {
	cursor: pointer;
}

.photo:hover + .nav label {
	transition: opacity 0.5s;
}

input:checked + .vignette .slide .photo{
  	transition: opacity 0.6s;
}